
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>name:</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction:</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <% if @user.id == current_user.id %>
        <p><%= link_to "Edit", edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
      <% end %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2>error</h2>
          <ul style="color: red">
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <!-- 投稿フォーム -->
    <h2>New book</h2>
    <%= form_for(@book) do |f| %>
    
      <p>Title</p>
      <%= f.text_field :title %>
    
      <p>Body</p>
      <%= f.text_area :body %><br>
    
      <%= f.submit 'Create Book' %>
    <% end %>
    </div>
    <div class="col-lg-8">
    <h2>Books</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
              <tr>
                <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
                <td><%= link_to book.title,book_path(book.id),:style => "color:black" %></td>
                <td><%= book.body %></td>
        </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

